<div class="title">授权 <%= clientName %></div>

<form action="/interaction/<%= uid %>/confirm" method="post">
    <input type="hidden" name="prompt" value="consent"/>
    <div class="text">应用请求以下权限：</div>
    <ul class="mdl-list" style="margin:0px;padding:0px">
        <% scopes.map((scope)=>{ %>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">person</i>
                <%= scope %>
            </span>
        </li>
        <% }) %>
    </ul>
    <div class="center">
        <a href="/interaction/<%= uid %>/abort" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" style="margin-right:10px;">
            <i class="material-icons">clear</i>
        </a>
        <button type="submit" class="blue mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">done</i>
        </button>
    </div>
</form>